@media only screen and (max-width: 992px) {
  label {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 600px) {
  .weathercard {
    flex-direction: column;
    width: 90vw;

  }

  /* #location{
    height: 2rem;
    width: 20rem;
    padding: 20%;
   } */
  .info {
    margin-bottom: 5%;
    font-size: 3rem;
  }
  article {
    font-weight: normal;
    padding: 8%;
  }

  .header {
    font-size: 1.3rem;
  }
  #search {
    padding: 9%;
  }
}
