@media only screen and (max-width: 600px) {
  .header {
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  label {
    font-size: 1.2rem;
    width: 50%;
  }
  .locationform__elements {
    margin-top: 3%;
    align-items: center;
  }
  .flex-row {
    flex-direction: column;
    align-items: center;
    margin: 3% 0;
  }

  #location {
    width: 90vw;
  }
  #select2-location-container {
    width: 100%;
    background-color: white;
    align-self: center;
  }

  #search {
    padding: 3%;
    margin: 1.3rem 0;
  }

  .weathercard {
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: 3%;
  }

  .info {
    margin-bottom: 5%;
    font-size: 2rem;
    padding: 0 auto;
    width: 100%;
  }
  .temp-info {
    font-size: 7rem;
  }
  article {
    font-weight: normal;
    padding: 8%;
  }

  .header {
    font-size: 1.3rem;
  }
}
